<table class="tabela">
  <thead class="tabela__cabecalho">
    <th class="tabela__cabecalho__conteudo">Data</th>
    <th class="tabela__cabecalho__conteudo">Valor</th>
    <th class="tabela__cabecalho__conteudo">Destino</th>
  </thead>

  <tbody *ngIf="transfers?.length > 0; else emptyList">
    <tr class="tabela__linha" *ngFor="let transfer of transfers">
      <td class="tabela__conteudo">{{ transfer.date ? (transfer.date  | date: "short") : "Não informado" }}</td>
      <td class="tabela__conteudo">{{ transfer.value | currency }}</td>
      <td class="tabela__conteudo">{{ transfer.destination }}</td>
    </tr>
  </tbody>
</table>

<ng-template #emptyList>
  <tr class="empty-list">
    <td colspan="3">
      Nenhuma transferência cadastrada
    </td>
  </tr>
</ng-template>
